a img {
    width: 6%;
    height: 10%;
    mix-blend-mode: multiply;
    
}
.container {
    border: black solid 5px;
    border-radius: 5px;
    max-width: 100%;
    background-color:rgba(240, 255, 255, 0.728)
}
body{
    background-color: rgb(164, 222, 241);
}

/** This is to make the items align in the same place
Spaces out the words**/
nav ul li {
    margin-left: 50%;
    display: inline-block;
    list-style: none;
    margin: 10px 100px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
/** gets rid of blue words and undeline **/
nav ul li a { 
    color: black;
    text-decoration: none;
    position: relative;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin-top: 10px;
    font-size: 15pt;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: antiquewhite;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.food{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.food h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 10px;
    margin-left: 100%;
    font-size: 20pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}
form img {
    margin-top: 10px;
    margin-left: 25%;
    width: 55%;
    height: 250px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}
.food p{
    width: 250px;
    max-width: 250px;
    height: 80px;
    text-align: center;
    margin: 5px auto;
    display: block;
}
form label{
    margin-right: 10px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
form .inputNumber{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
form .inputNumber input {
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}
form .inputNumber button{
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    background-color: rgba(226, 202, 169, 0.692);
}

#placeorder{
    cursor: pointer;
    width: 500px;
    height: 200px;
    margin-left: 40%;
    align-self: center;
    border-radius: 10px;
    background-color: rgba(226, 202, 169, 0.692);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 3px antiquewhite;
    text-decoration: none;
    color: black;
    font-size: 50px;
}

footer {
    background-color:rgba(240, 255, 255, 0.728);
    border: 10px;
    margin-top: 100px;
    left: 0;
}

footer a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}